name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas torch torchvision scikit-learn dill pylint
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Analyse the code with pylint
      run: |
        # Explicitly invoke pylint with python -m
        python -m pylint $(git ls-files '*.py') --disable=C0413 --disable=R0914 --disable=R0913 --disable=R0917 --disable=R1732 --disable=R0801 --disable=E1102 --disable=R0903 --disable=C0103 --disable=W0622 --disable=W0611 --disable=W1514
    - name: Autoformat and fix linting issues
      run: |
        # Autoformat code with Black and sort imports with isort
        pip install black isort
        black .
        isort .
